services:
  beszel-agent:
    image: henrygd/beszel-agent:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./beszel_agent_data:/var/lib/beszel-agent
      - ./beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro # systemd
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://beszel:8090
    env_file:
      - /home/nixos/env-beszel-agent
    labels:
      - com.centurylinklabs.watchtower.enable=true
